<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>坊ちゃんラボ</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

  <link rel="stylesheet" href="botchanlab_style.css">
</head>
<body>

  <header>
    <div class="logo">TUSbotchanlab</div>
    <nav>
      <ul>
        <li><a href="/lukiahome">home</a></li>
        <li><a href="/Yu_activity">活動内容</a></li>
        <li><a href="/aaa">メンバー紹介</a></li>
        <li><a href="/lukiaguide">案内</a></li>
      </ul>
    </nav>
  </header>

  <main class="contents top-page-container">
    <section class="top-hero new">

  
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="1763762426218.jpg" alt="画像1">
          </div>
          <div class="swiper-slide">
            <img src="IMG_20251211_165805138_MFNR.jpg" alt="画像2">
          </div>
          <div class="swiper-slide">
            <img src="1769475544521.jpg" alt="画像3">
          </div>
          <div class="swiper-slide">
            <img src="c:\Users\Kamei Aina\OneDrive - 東京理科大学\画像\スクリーンショット\スクリーンショット 2025-07-23 233344.png" alt="画像4">
          </div>
        </div>

        <div class="swiper-pagination"></div>
      </div>

    </section>
  </main>

  <h1>type somrthing</h1>
  <footer>
    <div class="footer-container">
      <p>&copy; 2025 TUSbotchanlab.website.</p>
      <nav>
        <ul>
           <li><a href="/lukiahome">ホーム</a></li>
          <li><a href="/Yu 活動内容">活動内容</a></li>
          <li><a href="/aaa">メンバー</a></li>
          <li><a href="/lukiaGovernance">組織</a></li>
           <li><a href="">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script src="script.js"></script>

</body>
</html>