<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>東京理科大学,坊ちゃんサークル</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--ヘッダー-->
    <header>
      
        <div class="logo">坊ちゃんサークル</div>
        <nav>
          <a href="src/pages/lukia.astro" id="migi">lukia</a>
       </nav>
    </header>
</body>
</html>