<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>東京理科大学,坊ちゃんサークル</title>
  <link rel="stylesheet" href="src/layouts/lukiahome.CSS">
  <link rel="stylesheet" href="botchanlab_style.css">
</head>

<body>
  <header>      
    <div class="logo">坊ちゃんサークル</div>
      <nav>
        <a href="/lukiahome" id="migi">HOME</a>
        <a href="/Yu activity" id="migi">活動内容</a>
        <a href="/aaa" id="migi">メンバー</a>
        <a href="/lukiaGovernance" id="migi">組織</a>
        <a href="" id="migi">お問い合わせ</a>
      </nav>
  </header>

  <div class="eyecatch">
    <div class="start">
      <h1>We are botchanLab.</h1>  
        <p class="box">坊ちゃんLab. は、合成生物学の国際大会<b> iGEM</b> への出場を目指して活動しているサークルです。<br>
葛飾キャンパスと野田キャンパスの学生が集まり、現在は両キャンパス合わせて20人ほどの少人数で、ゆるく楽しく活動しています。<br>

大会期間以外は、月1回程度の学生実験や論文読みを行い、知識と理解を深めています。<br>
iGEMでは生物だけでなく、物理・化学・数学など幅広い分野の知識が必要になるため、多様なバックグラウンドのメンバーが活躍しています。<br>
実際に、生物未履修から参加しているメンバーも多く、それぞれにしっかりと役割があります。<br>
「生物は苦手だけど興味はある」という人も大歓迎です。<br><br>

活動は主に<br>
・研究班（実験や大会出場に向けた研究活動）<br>
・SC班（サイエンスコミュニケーション班）（サイエンスショーや小中学生向け講義、体験実験の実施）<br>
に分かれていますが、明確に区別されているわけではなく、どちらか一方でも両方でも参加可能です。<br><br>

少人数だからこそ、学年や専攻を超えて相談しやすく、自分の「好き」や「得意」を活かせるサークルです。<br>
合成生物学に興味がある人、研究や科学コミュニケーションに関わってみたい人、ぜひ坊ちゃんLab.に来てみてください！<br>
        </p>  
    </div>
  </div>

  <div class="main">
    <div class="element">
      <img src="/activities.jpg" width="300" height="200">
      <p><b><span class="kasiramoji">A</span>ctivities</b></p>
    </div>

    <div class="element">
      <img src="/team.jpg" width="300" height="200">
      <p><b><span class="kasiramoji">T</span>eam &nbsp; members</b></p>
    </div>

    <div class="element">
      <img src="public/governance.jpg" width="300" height="200">
      <p><b><span class="kasiramoji">G</span>overnance</b></p>
    </div>

    <div class="element">
      <img src="public/contact.jpg" width="300" height="200">
      <p><b><span class="kasiramoji">C</span>ontact</b></p>
    </div>
  </div>

  <footer>
    <div class="footer-container">
      <p>&copy; 2025 TUSbotchanlab.website.</p>
      <nav>
        <ul>
           <li><a href="/lukiahome">ホーム</a></li>
          <li><a href="/Yu activity">活動内容</a></li>
          <li><a href="/aaa">メンバー</a></li>
          <li><a href="/lukiaGovernance">組織</a></li>
           <li><a href="">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
  </footer>
    
</body>
</html>

      