<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="src/layouts/yu.CSS">
<meta charset="UTF-8">
<title>東京理科大学,坊ちゃんサークル</title>
<link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!--ヘッダー-->
    <header>
      
        <div class="logo">坊ちゃんサークル</div>
        <nav>
          <a href="/lukia" id="migi">HOME</a>
          <a href="/Yu 活動内容" id="migi">活動内容</a>
          <a href="#" id="migi">メンバー</a>
          <a href="#" id="migi">組織</a>
          <a href="#" id="migi">お問い合わせ</a>
       </nav>
    </header>
    <div class="eyecatch">
    <div class="start">
      <h1>We are botchanLab.</h1>  
          <p class="box">iGEM Kyoto は、合成生物学の世界大会 iGEM への参加を通じて、学生が責任と自主性に基づいて自由に研究活動を行う京都大学の学生チームです。
            2008年の発足以来、京都大学の教員の皆様に研究の安全性を監督・指導いただきながら、在野の専門家や各産業分野で従事されている方にアドバイスを受けつつ研究活動を行っています。取材活動や調査で発見した実社会の問題に対し、合成生物学の技術を用いた解決策を提示し、実験や数理モデリングを通してその実現性を検証して、成果をiGEM大会や広報イベントなどで発表しています。
          </p>  
      </div>
    </div>

    <div class="main">
      <div class="element">
        <img src="/activities.jpg" width="300" height="200">
        <p><b><span class="kasiramoji">A</span>ctivities</b></p>
      </div>

      <div class="element">
        <img src="/team.jpg" width="300" height="200">
        <p><b><span class="kasiramoji">T</span>eam &nbsp; members</b></p>
      </div>

      <div class="element">
        <img src="public/governance.jpg" width="300" height="200">
        <p><b><span class="kasiramoji">G</span>overnance</b></p>
      </div>

      <div class="element">
        <img src="public/contact.jpg" width="300" height="200">
        <p><b><span class="kasiramoji">C</span>ontact</b></p>
      </div>

    </div>

    

</body>
</html>

      