---
import Layout from "../layouts/Layout.astro";
import "../layouts/lukiaguide.css";
---
<Layout>
<div id="subheading">
  <h1>igemについて</h1>
</div>
 <div class="main">
    iGEMは（国際遺伝子工学機械コンペティション）、世界中の学生がチームを組み、合成生物学の技術を用いて社会課題の解決を目指す国際大会である。<br>参加チームは、生物の仕組みを工学的に設計し、実験・解析・発表までを一貫して行う。研究活動だけでなく、社会への応用や倫理面についても考える点が特徴であり、科学と社会をつなぐ実践的な教育プログラムとしての側面も持っている。<br>我々は毎年11月ごろに開催されるこの大会に出場するために日ごろから活動を続けています。
    <h2>iGEM出場にあたって必要となる審査項目</h2>
    <ul>
      <li>Wet</li>
      <li>Dry</li>
      <li>Human&nbsp;Practices</li>
      <li>Education</li>
    </ul>
    の４点です。<br>

    <div class="wet">
      <h3>Wet</h3>
      実験（Wet）による評価・成果の部分を指します。<br>
      つまり、実際に手を動かして行った生物実験が、どれだけ工学的に・科学的に意味のある形で進められているかを審査する項目です。<br>
      ここでは主に研究班のメンバーが主体となって休日や空き時間に協力して実験を行います。
    </div><br><br>
    
    <div class="dry">
      <h3>Dry</h3>
      dryは実験を直接行わずに、計算やシミュレーション、解析でプロジェクトを支える部分のことを指します。<br>
      いわゆる Dry&nbsp;Lab（計算・情報系） の活動<br>
      例えば、モデリング、データ解析、タンパク質の立体構造解析、代謝系の反応速度定数同定、空間モデルリングなど、wetの内容に応じて様々な工学的アプローチをしていきます。<br>
      ここでは主に研究班のメンバーの中で工学系に興味のある人が担当して取り組んでいきます。
    </div><br><br>

    <div class="human">
      <h3>Human&nbsp;Practices</h3>
      Human&nbsp;Practicesは研究を「社会」と結びつける活動全体のことを指します。
      実験だけで完結せず、「その研究は社会にとって本当に意味があるか？」を考えた専門家へのインタビューや社会的影響の考慮などが含まれます。<br>
      ここでは主に研究班のメンバーが専門家に意見を聞きに行ったり、社会的影響の考慮を行ったりします。
    </div><br><br>

    <div class="education">
      <h3>Education</h3>
      Educationは教育、発信活動を指します。一般向け、学生向けに合成生物学を広める活動を行います。<br>
      ここでは主にSC班のメンバーや研究班のメンバーが、学生向けの実験教室などを行います。
    </div><br><br>

    <div class="medal">
     <h2>メダルについて</h2>
     <p>iGEMでは審査基準に則って基準を超えたチームにはメダルが与えられます。<br>
      メダルは、ブロンズ・シルバー・ゴールドの3段階に分かれており、下位のメダルの達成条件を積み重ねる形で評価されます。<br>
      ブロンズメダルを獲得するには、4つのブロンズ基準すべてを満たす必要があります。<br>
      シルバーメダルを獲得するには、ブロンズの基準を満たしたうえで、さらに2つのシルバー基準を達成する必要があります。<br>
      ゴールドメダルを獲得するには、ブロンズおよびシルバーのすべての基準を満たし、加えて自ら選んだ3つの特別賞分野で審査員を納得させる成果を示す必要があります。<br>
      </p>

      <div class="medalsyousai">
        <h3>bronze&nbsp;medal</h3>
        ブロンズメダルを獲得するには、4つのブロンズ基準すべてを満たす必要があります。
        <ol>
          <li> Competition Deliverables<br>
              以下の提出物をすべて完成させること：<br>
              Wiki、プレゼンテーション動画、審査用フォーム（Judging Form）、および審査セッション（Judging Session）。</li>
          <li>Project Attributions<br>
              標準化された Project Attributions Form を用いて、チームメンバーそれぞれが担当した作業内容と、プロジェクトに協力したチーム外の人々の貢献内容を記載すること。</li>
          <li>Contribution<br>
          将来のiGEMチームにとって役立つ成果や情報を残すこと。</li>
        </ol>
      </div>

      <div class="medalsyousai">
        <h3>silver&nbsp;medal</h3>
        シルバーメダルを獲得するには、ブロンズの基準を満たしたうえで、さらに2つのシルバー基準を達成する必要があります。
        <ol>
          <li>Engineering Success<br>
            プロジェクトの技術的な側面において、工学的アプローチが適切に行われていることを示す。<br>
            そのために、エンジニアリング・デザイン・サイクル（Design-Build-Test-Learn）を少なくとも1回以上実施し、プロジェクトの技術的側面におけるエンジニアリングの成功を示すこと</li>
          <li> Human Practices<br>
            あなたのプロジェクトが責任あるものであり、世界にとって良いものであるとどのように判断したかを説明すること。</li>
        </ol>
      </div>

      <div class="medalsyousai">
        <h3>gold&nbsp;medal</h3>
         ゴールドメダルを獲得するには、ブロンズおよびシルバーのすべての基準を満たし、加えて自ら選んだ3つの特別賞分野で審査員を納得させる成果を示す必要があります。<br>
         1. Excellence in Synthetic Biology<br>
         自ら選択した3つの Special Prize に向けた取り組みによって、審査員に強い印象を与えること。<br>
         General Biological Engineeringと、少なくとも1つの Specializationの両方で卓越性を示す必要があります。
       <ol>General Biological Engineering（以下から少なくとも1つ選択）
        <li> Measurement</li>
        <li>Model</li>
        <li>New Basic Part</li>
        <li> New Composite Part</li>
        <li> New Improved Part</li>
        <li>Part Collection</li>
       </ol>

       <ol>Specializations（以下から少なくとも1つ選択）
        <li>Education</li>
        <li>Entrepreneurship</li>
        <li>Hardware</li>
        <li> Inclusivity</li>
        <li>Integrated Human Practices</li>
        <li>Plant Synthetic Biology</li>
        <li>Safety and Security</li>
        <li>Software</li>
        <li>Sustainable Development</li>
       </ol>
      </div>

      <h2>特別賞について</h2>
      Special&nbsp;Prize は、iGEM 大会において特定の分野で卓越した成果を示したチームに授与されます。<br>
      メダルを目指すかどうかにかかわらず、1チームが応募できる Special&nbsp;Prizeの総数は3つまでです。この制限は、量より質を重視した取り組みを促すことを目的としています。<br>
      <ul>
      <li>Best Education</li>
      <li>Best Entrepreneurship</li>
      <li>Best Hardware</li>
      <li>Inclusivity Award</li>
      <li>Best Integrated Human Practices</li>
      <li>Best Measurement</li>
      <li>Best Model</li>
      <li>Best New Basic Part</li>
      <li>Best New Composite Part</li>
      <li>Best New Improved Part</li>
      <li>Best Part Collection</li>
      <li>Best Plant Synthetic Biology</li>
      <li>Best Presentation</li>
      <li>Best Safety and Security Award</li>
      <li>Best Software Tool</li>
      <li>Best Sustainable Development Impact</li>
      <li>Best Wiki</li>
      </ul>
      なお、Special&nbsp;Prize の選択数制限とは別に、すべてのチームは以下の追加賞についてはファイナリストになる資格、および受賞資格を有します
      <ul>
        <li>Best in Village</li>
        <li>Best Wiki</li>
        <li>Best Presentation</li>
        <li>The iGEMer’s Prize</li>
        <li>The Best Promotion Video</li>
        <li>The Chairman’s Award</li>
      </ul>
    </div>
  </div>
 


<!-- トップに戻るボタン -->
<a href="#" class="to-top" id="toTop">▲</a>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

<!-- JS -->
<script defer>
  window.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper('.swiper', {
      loop: true,
      effect: 'fade',
      speed: 1000,
      autoplay: { delay: 3000 },
      pagination: { el: '.swiper-pagination', clickable: true },
    });
  });

  const toTop = document.getElementById("toTop");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      toTop.classList.add("show");
    } else {
      toTop.classList.remove("show");
    }
  });
</script>

</Layout>

      