<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>東京理科大学,坊ちゃんサークル</title>
  <link rel="stylesheet" href="src/layouts/lukiaguide.CSS">
  <link rel="stylesheet" href="botchanlab_style.css">
</head>

<body>
  <header>      
    <div class="logo">坊ちゃんサークル</div>
      <nav>
        <a href="/lukiahome" id="migi">HOME</a>
        <a href="/Yu 活動内容" id="migi">活動内容</a>
        <a href="/aaa" id="migi">メンバー</a>
        <a href="/lukiaguide" id="migi">案内</a>
        <a href="" id="migi">お問い合わせ</a>
      </nav>
  </header>
 <p class="main">
   <h1>iGEMとは</h1>
    iGEMは（国際遺伝子工学機械コンペティション）、世界中の学生がチームを組み、合成生物学の技術を用いて社会課題の解決を目指す国際大会である。<br>参加チームは、生物の仕組みを工学的に設計し、実験・解析・発表までを一貫して行う。研究活動だけでなく、社会への応用や倫理面についても考える点が特徴であり、科学と社会をつなぐ実践的な教育プログラムとしての側面も持っている。<br>我々は毎年11月ごろに開催されるこの大会に出場するために日ごろから活動を続けています。
    <h2>iGEM出場にあたって必要となる審査項目</h2>
    <ul>
      <li>Wet</li>
      <li>Dry</li>
      <li>Human&nbsp;Practices</li>
      <li>Education</li>
    </ul>
    の４点です。<br>

    <p class="wet">
      <h2>Wet</h2>
      wetは発表の核となる研究内容のことです。
    </p>
    
    <p class="dry">
      <h2>Dry</h2>
      dryはその問題に対する工学的なアプローチのことです。
    </p>

    <p class="human">
      <h2>Human&nbsp;Practices</h2>
      Human&nbsp;Practicesは社会との関わり。つまり専門家へのインタビューや社会的影響の考慮などが含まれます。
    </p>

    <p class="education">
      <h2>Education</h2>
      Educationは教育、発信活動。一般向け、学生向に合成生物学を広める活動したかです。
    </p>

    <p class="medal">
     <h2>メダルについて</h2>
     <p>iGEMでは審査基準に則って基準を超えたチームにはメダルが与えられます。<br>
      メダルは、ブロンズ・シルバー・ゴールドの3段階に分かれており、下位のメダルの達成条件を積み重ねる形で評価されます。<br>
      ブロンズメダルを獲得するには、4つのブロンズ基準すべてを満たす必要があります。<br>
      シルバーメダルを獲得するには、ブロンズの基準を満たしたうえで、さらに2つのシルバー基準を達成する必要があります。<br>
      ゴールドメダルを獲得するには、ブロンズおよびシルバーのすべての基準を満たし、加えて自ら選んだ3つの特別賞分野で審査員を納得させる成果を示す必要があります。<br>
      </p>

      <p class="medalsyousai">
        <h3>bronze&nbsp;medal</h3>
        ブロンズメダルを獲得するには、4つのブロンズ基準すべてを満たす必要があります。
        <ol>
          <li> Competition Deliverables<br>
              以下の提出物をすべて完成させること：<br>
              Wiki、プレゼンテーション動画、審査用フォーム（Judging Form）、および審査セッション（Judging Session）。</li>
          <li>Project Attributions<br>
              標準化された Project Attributions Form を用いて、チームメンバーそれぞれが担当した作業内容と、プロジェクトに協力したチーム外の人々の貢献内容を記載すること。</li>
          <li>Contribution<br>
          将来のiGEMチームにとって役立つ成果や情報を残すこと。</li>
        </ol>
      </p>

      <p class="medalsyousai">
        <h3>silver&nbsp;medal</h3>
        シルバーメダルを獲得するには、ブロンズの基準を満たしたうえで、さらに2つのシルバー基準を達成する必要があります。
        <ol>
          <li>Engineering Success<br>
            プロジェクトの技術的な側面において、工学的アプローチが適切に行われていることを示す。<br>
            そのために、エンジニアリング・デザイン・サイクル（Design-Build-Test-Learn）を少なくとも1回以上実施し、プロジェクトの技術的側面におけるエンジニアリングの成功を示すこと</li>
          <li> Human Practices<br>
            あなたのプロジェクトが責任あるものであり、世界にとって良いものであるとどのように判断したかを説明すること。</li>
        </ol>
      </p>

      <p class="medalsyousai">
        <h3>gold&nbsp;medal</h3>
         ゴールドメダルを獲得するには、ブロンズおよびシルバーのすべての基準を満たし、加えて自ら選んだ3つの特別賞分野で審査員を納得させる成果を示す必要があります。<br>
         1. Excellence in Synthetic Biology<br>
         自ら選択した3つの Special Prize に向けた取り組みによって、審査員に強い印象を与えること。<br>
         General Biological Engineeringと、少なくとも1つの Specializationの両方で卓越性を示す必要があります。
       <ol>General Biological Engineering（以下から少なくとも1つ選択）
        <li> Measurement</li>
        <li>Model</li>
        <li>New Basic Part</li>
        <li> New Composite Part</li>
        <li> New Improved Part</li>
        <li>Part Collection</li>
       </ol>

       <ol>Specializations（以下から少なくとも1つ選択）
        <li>Education</li>
        <li>Entrepreneurship</li>
        <li>Hardware</li>
        <li> Inclusivity</li>
        <li>Integrated Human Practices</li>
        <li>Plant Synthetic Biology</li>
        <li>Safety and Security</li>
        <li>Software</li>
        <li>Sustainable Development</li>
       </ol>
      </p>

      <h2>特別賞について</h2>
      Special&nbsp;Prize は、iGEM 大会において特定の分野で卓越した成果を示したチームに授与されます。<br>
      メダルを目指すかどうかにかかわらず、1チームが応募できる Special&nbsp;Prizeの総数は3つまでです。この制限は、量より質を重視した取り組みを促すことを目的としています。<br>
      <ul>
      <li>Best Education</li>
      <li>Best Entrepreneurship</li>
      <li>Best Hardware</li>
      <li>Inclusivity Award</li>
      <li>Best Integrated Human Practices</li>
      <li>Best Measurement</li>
      <li>Best Model</li>
      <li>Best New Basic Part</li>
      <li>Best New Composite Part</li>
      <li>Best New Improved Part</li>
      <li>Best Part Collection</li>
      <li>Best Plant Synthetic Biology</li>
      <li>Best Presentation</li>
      <li>Best Safety and Security Award</li>
      <li>Best Software Tool</li>
      <li>Best Sustainable Development Impact</li>
      <li>Best Wiki</li>
      </ul>
      なお、Special&nbsp;Prize の選択数制限とは別に、すべてのチームは以下の追加賞についてはファイナリストになる資格、および受賞資格を有します
      <ul>
        <li>Best in Village</li>
        <li>Best Wiki</li>
        <li>Best Presentation</li>
        <li>The iGEMer’s Prize</li>
        <li>The Best Promotion Video</li>
        <li>The Chairman’s Award</li>
      </ul>
    </p>
  </p>
 

  

  <footer>
    <div class="footer-container">
      <p>&copy; 2025 TUSbotchanlab.website.</p>
      <nav>
        <ul>
          <li><a href="/lukiahome">ホーム</a></li>
          <li><a href="/Yu 活動内容">活動内容</a></li>
          <li><a href="/aaa">メンバー</a></li>
          <li><a href="/lukiaGovernance">組織</a></li>
           <li><a href="">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
  </footer>
    
</body>
</html>

      