<!doctype html>
<html>
<head>
    <like rel="stylesheet" href="src/layouts/yu.CSS">
    <meta charset="UTF-8">
    <title>東京理科大学,坊ちゃんサークル</title>
    <link rel="stylesheet" href="/css/style.css">
</head>  
    
<body>
    <header>
        <div class="logo">坊ちゃんサークル</div>
        <nav>
            <a href="/lukia" id="migi">HOME</a>
            <a href="/lukia" id="migi">活動内容</a>
            <a href="#" id="migi">メンバー</a>
            <a href="#" id="migi">組織</a>
            <a href="#" id="migi">お問い合わせ</a>
        </nav>
    </header>
        
    <div class="main">
    
    </div>
        