<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>坊ちゃんラボ_memberintroduction</title>

 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">

  <link rel="stylesheet" href="memberintroduction_style.css">
</head>
<body>

  <header>
    <div class="logo">TUSbotchanlab</div>
    <nav>
      <ul>
        <li><a href="#">活動内容</a></li>
        <li><a href="#">問い合わせ</a></li>
        <li><a href="#">メンバー紹介</a></li>
      </ul>
    </nav>
  </header>

<div id="subheading">
<h1>member introduction</h1>


  <footer>
    <div class="footer-container">
      <p>&copy; 2025 TUSbotchanlab.website.</p>
      <nav>
        <ul>
          <li><a href="#">活動内容</a></li>
          <li><a href="#">問い合わせ</a></li>
          <li><a href="#">メンバー紹介</a></li>
        </ul>
      </nav>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

  <script src="script.js"></script>

</body>
</html>