---
import Layout from "../layouts/Layout.astro";
---
<Layout>
<link rel="stylesheet" href="/src/layouts/memberintroduction.css">

<!-- 見出し -->
<div id="subheading">
  <h1>メンバー紹介</h1>
</div>

<!-- メンバー一覧 -->
<div class="members-grid">

  <div class="member-card">
    <img src="ゆきひろさん.jpg" alt="メンバー1" class="member-photo">
    <h2>大野倖寛(部長)</h2>
    <p>学年：3年</p>
    <p>学科：生命システム工学科</p>
    <p>趣味：iGEM</p>
    <p>出身：大分</p>
    <p>GOLD Medal を目指してiGEM走り抜けましょう！</p>
  </div>

  <div class="member-card">
    <img src="高山.jpg" alt="メンバー1" class="member-photo">
    <h2>高山翔那</h2>
    <p>学年：3年</p>
    <p>学科：生命創薬科学科</p>
  </div>

  <div class="member-card">
    <img src="金さん.jpg" alt="メンバー2" class="member-photo">
    <h2>金唯真(副部長)</h2>
    <p>学年：2年</p>
    <p>学科：生命生物科学科</p>
    <p>趣味：絵画</p>
    <p>出身：中国</p>
  </div>

  <div class="member-card">
    <div class="swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="るきあさん１.jpg" alt="画像1">
        </div>
        <div class="swiper-slide">
          <img src="るきあさん２.jpg" alt="画像2">
        </div>
        <div class="swiper-slide">
          <img src="るきあさん３.jpg" alt="画像3">
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>

    <h2>南雲ルキア</h2>
    <p>学年：2年</p>
    <p>学科：生命システム工学科</p>
    <p>趣味:推し活(ディズニー、西洋絵画)、アニメ、マンガ</p>
    <p>出身：千葉県</p>
  </div>

  <div class="member-card">
    <img src="なかゆ.jpg" alt="メンバー4" class="member-photo">
    <h2>Y.N.</h2>
    <p>学年：2年</p>
    <p>学科：物理工学科</p>
    <p>趣味:トロコイド</p>
    <p>出身：日本</p>
  </div>

   <div class="member-card">
    <img src="たなかさん.jpg" alt="メンバー5" class="member-photo">
    <h2>田中祐之眞</h2>
    <p>学年：2年</p>
    <p>学科：生命生物科学科</p>
    <p>出身:青森</p>
  </div>

   <div class="member-card">
    <img src="/IMG_1389.JPG" alt="メンバー6" class="member-photo">
    <h2>メンバー6</h2>
    <p>紹介を書く</p>
  </div>

</div>


<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

<!-- JS -->
<script defer>
  window.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper('.swiper', {
      loop: true,
      effect: 'fade',
      speed: 1000,
      autoplay: { delay: 3000 },
      pagination: { el: '.swiper-pagination', clickable: true },
    });
  });

  const toTop = document.getElementById("toTop");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      toTop.classList.add("show");
    } else {
      toTop.classList.remove("show");
    }
  });
</script>

</Layout>