---
import Layout from "../layouts/Layout.astro";
---


<Layout>

<link rel="stylesheet" href="/src/layouts/Yu_activity.css">

<div id="subheading">
  <h1>活動内容</h1>
</div>
      <ul>
        <li>2025年度</li>
      </ul>
      <div class="swiper">
  <div class="swiper-wrapper">

    <div class="swiper-slide">
      <figure>
        <figcaption>普段の部会の黒板</figcaption>
        <img src="2025,2.jpg" width="200" height="300" alt="画像2">
      </figure>
    </div>

    <div class="swiper-slide">
      <figure>
        <figcaption>IGEMに向けた調査&文献探し</figcaption>
        <img src="2025,4.jpg" width="200" height="300" alt="画像3">
      </figure>
    </div>

    <div class="swiper-slide">
      <figure>
        <figcaption>IGEMに向けたモデリング</figcaption>
        <img src="2026,1.jpg" width="200" height="300" alt="画像4">
      </figure>
    </div>
    <div class="swiper-slide">
      <figure>
        <figcaption>合宿の様子</figcaption>
        <img src="2026,2.jpg" width="200" height="300" alt="画像5">
      </figure>
    </div>

    <div class="swiper-slide">
      <figure>
        <figcaption>枯草菌の培養の様子</figcaption>
        <img src="2026,3.jpg" width="200" height="300" alt="画像6">
      </figure>
    </div>
  </div>

  <div class="swiper-pagination"></div>
      </div><div class="radius-wrapper">
  <button class="arrow-btn">▼</button>
  <div class="radius">
    <div class="radius-inner">
            <!-- 1,2,3月 -->
      <div class="month">
        <h2>1,2,3月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>新入生歓迎会の内容の検討</li>
              <li>合宿&実験</li>
              <li>みらい研究室への参加</li>
              <li>南部公民館での実験教室</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>iGEMの参加決め</li>
              <li>iGEM参加費の入金</li>
              <li>チームの役割分担</li>
              <li>研究室訪問</li>
              <li>iGEM Japan Meetup への参加</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 4月 -->
      <div class="month">
        <h2>4月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>新入生歓迎会</li>
            </ul>
          </div>
          <div class="category">
            <h3>研究関連</h3>
            <ul>
              <li>プラスミド設計明</li>
              <li>1年生の学生研修</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 5月 -->
      <div class="month">
        <h2>5月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>SCイベント案出し</li>
            </ul>
          </div>
          <div class="category">
            <h3>研究関連</h3>
            <ul>
              <li>遺伝子組み換え講習会</li>
              <li>論文、wiki輪読会</li>
              <li>遺伝子組み換え申請の作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 6月 -->
      <div class="month">
        <h2>6月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>朝日新聞が主催するサイエンスフェスに参加</li>
              <li>野田市子供館での実験実習</li>
            </ul>
          </div>
          <div class="category">
            <h3>研究関連</h3>
            <ul>
              <li>プロトコル作成、モデルの検討などの研究活動</li>
              <li>Safety form（安全基準や倫理規定を守っているかの書類）をiGEM側に提出</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 7月 -->
      <div class="month">
        <h2>7月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>Interfex見学</li>
              <li>昭和学院中学、高校細胞生物学チームの実験指導</li>
            </ul>
          </div>
          <div class="category">
            <h3>研究関連</h3>
            <ul>
              <li>学生実習の実施（マグロの種別判定のためのPCR-RFLP法）</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 8月 -->
      <div class="month">
        <h2>8月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>野田市南部公民館でのイベント実施</li>
            </ul>
          </div>
          <div class="category">
            <h3>研究関連</h3>
            <ul>
              <li>来年度に向けたテーマ案決め</li>
              <li>iGEM Japan Meetupへの参加（日本チームで進捗を共有する会）</li>
              <li>バイオリスクマネージメントの参加（国立感染症研究所がiGEMerのために開催してくれる安全講習）</li>
              <li>夏の生命科学の学校参加（希望者のみ）</li>
              <li>胡桃坂研（東大定量研）見学（希望者のみ）</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 9月 -->
      <div class="month">
        <h2>9月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>西深井小学校での理科の授業を実施</li>
            </ul>
          </div>
          <div class="category">
            <h3>研究関連</h3>
            <ul>
              <li>研究活動</li>
              <li>研究テーマ決め</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 10月 -->
      <div class="month">
        <h2>10月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>文化祭の用意（特に夢工房)</li>
              <li>ホームページ作り始め</li>
            </ul>
          </div>
          <div class="category">
            <h3>研究関連</h3>
            <ul>
              <li>遺伝子組み換え申請の作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 11月 -->
      <div class="month">
        <h2>11月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>文化祭<br>
                →野田:たこやき<br>
                →葛飾:フルーツ飴
              </li>
            </ul>
          </div>
          <div class="category">
            <h3>研究関連</h3>
            <ul>
              <li>前澤先生にテーマ案の相談</li>
              <li>引継ぎ</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 12月 -->
      <div class="month">
        <h2>12月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>葛飾クリスマスイベント</li>
            </ul>
          </div>
          <div class="category">
            <h3>研究関連</h3>
            <ul>
              <li>分子生物学年会見学（希望者のみ）</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <ul>
        <li>2024年度</li>
      </ul>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure>
              <figcaption>制限酵素の仕組みを解説する様子</figcaption>
              <img src="2024,1.jpg" width="200" height="300" alt="画像1">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <figcaption>IGEM 現地の写真①</figcaption>
              <img src="2024,3.jpg" width="200" height="300" alt="画像2">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <figcaption>IGEM 現地の写真②</figcaption>
              <img src="2024,4.jpg" width="200" height="300" alt="画像3">
            </figure>
          </div>

        </div>

        <div class="swiper-pagination"></div>
      </div>
<div class="radius-wrapper">
  <button class="arrow-btn">▼</button>

  <div class="radius">
    <div class="radius-inner">

      <!-- 4月 -->
      <div class="month">
        <h2>4月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>新入生歓迎会</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>テーマ案の決定</li>
              <li>1年生のチーム割り振り</li>
              <li>プラスミド設計</li>
              <li>東京薬科大学モデルチームとの交流会</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 5月 -->
      <div class="month">
        <h2>5月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>SCイベント案出し</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>遺伝子組み換え講習会</li>
              <li>ピペット講習</li>
              <li>Human practice 強化週間</li>
              <li>遺伝子組み換え申請の作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 6月 -->
      <div class="month">
        <h2>6月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>サイエンスフェス参加</li>
              <li>野田市子供館での実験実習</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>研究活動</li>
              <li>Safety form提出</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 7月 -->
      <div class="month">
        <h2>7月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>Interfex見学</li>
              <li>公民館イベント実施</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>研究活動</li>
              <li>非遺伝子組換え実験</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 8月 -->
      <div class="month">
        <h2>8月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>東京未来館イベント</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>遺伝子組換え実験開始</li>
              <li>各班研究活動</li>
              <li>Meetup参加</li>
              <li>安全講習参加</li>
              <li>共同イベント</li>
              <li>プロモーションビデオ作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 9月 -->
      <div class="month">
        <h2>9月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>小学校での理科授業</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>研究活動</li>
              <li>Wiki・動画作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 10月 -->
      <div class="month">
        <h2>10月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>文化祭準備</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>Wiki freeze</li>
              <li>発表練習</li>
              <li>フランス渡航</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 11月 -->
      <div class="month">
        <h2>11月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>文化祭</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>成果発表</li>
              <li>結果報告</li>
              <li>引継ぎ</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 12月 -->
      <div class="month">
        <h2>12月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>冬勧誘準備</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>テーマ案決め</li>
            </ul>
          </div>
        </div>
      </div>
            <!-- 1,2,3月 -->
      <div class="month">
        <h2>1,2,3月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>新入生歓迎会の内容の検討</li>
              <li>みらい研究室への参加</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>iGEMの参加決め</li>
              <li>チームの役割分担</li>
              <li>テーマ案決め</li>
              <li>iGEM Japan Meetup への参加</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
  <!-- 以下説明欄のjs -->
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const wrappers = document.querySelectorAll(".radius-wrapper");

    wrappers.forEach((wrapper) => {
      const btn = wrapper.querySelector(".arrow-btn");
      const box = wrapper.querySelector(".radius");

      btn.addEventListener("click", () => {
        const isOpen = box.classList.contains("open");

        if (isOpen) {
          box.style.height = box.scrollHeight + "px";
          requestAnimationFrame(() => {
            box.style.height = "0px";
          });
          box.classList.remove("open");
        } else {
          box.style.height = box.scrollHeight + "px";
          box.classList.add("open");
        }

        btn.classList.toggle("active");
      });
    });
  });
</script>

  <!-- 以下絵のスライドのjs -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<script defer>
  
  window.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper('.swiper', {
      loop: true,
      effect: 'fade',
      speed: 2000,
      autoplay: { delay: 3000 },
      pagination: { el: '.swiper-pagination', clickable: true },
    });
  });

  const toTop = document.getElementById("toTop");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      toTop.classList.add("show");
    } else {
      toTop.classList.remove("show");
    }
  });
</script>
</Layout>