<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>東京理科大学,坊ちゃんサークル</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link rel="stylesheet" href="/src/layouts/Yu_activity.css">
</head>
<body>
    <!--ヘッダー-->
    <header> 
        <div class="logo">坊ちゃんサークル</div>
        <button id="menuBtn" class="gear-btn" aria-label="メニュー">
          <!-- 歯車SVG -->
           <svg viewBox="0 0 24 24" class="gear">
            <path fill="currentColor"d="M19.14,12.94A7.43,7.43,0,0,0,19.2,12a7.43,7.43,0,0,0-.06-.94l2.11-1.65a.5.5,0,0,0,.12-.63l-2-3.46a.5.5,0,0,0-.6-.22l-2.49,1a7.28,7.28,0,0,0-1.63-.94l-.38-2.65A.5.5,0,0,0,13.77,2H10.23a.5.5,0,0,0-.49.42L9.36,5.07a7.28,7.28,0,0,0-1.63.94l-2.49-1a.5.5,0,0,0-.6.22l-2,3.46a.5.5,0,0,0,.12.63L4.86,11.06A7.43,7.43,0,0,0,4.8,12a7.43,7.43,0,0,0,.06.94L2.75,14.59a.5.5,0,0,0-.12.63l2,3.46a.5.5,0,0,0,.6.22l2.49-1a7.28,7.28,0,0,0,1.63.94l.38,2.65a.5.5,0,0,0,.49.42h3.54a.5.5,0,0,0,.49-.42l.38-2.65a7.28,7.28,0,0,0,1.63-.94l2.49,1a.5.5,0,0,0,.6-.22l2-3.46a.5.5,0,0,0-.12-.63ZM12,15.5A3.5,3.5,0,1,1,15.5,12,3.5,3.5,0,0,1,12,15.5Z"/>
          </svg>
        </button>
        <nav id="menu" class="menu">
          <ul>
            <li><a href="/lukiahome" id="migi">HOME</a></li>
            <li><a href="/Yu_activity" id="migi">活動内容</a></li>
            <li><a href="/memberintroduction" id="migi">メンバー</a></li>
            <li><a href="/lukiaguide" id="migi">案内</a></li>
            <li><a href="/inquiry" id="migi">お問い合わせ</a></li>
          </ul>
        </nav>
        <div id="overlay" class="overlay"></div>
      </header>
      <!-- 見出し -->
<div id="subheading">
  <h1>活動内容</h1>
</div>
      <ul>
        <li>2025年度</li>
      </ul>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure>
              <img src="2025,2.jpg" width="200" height="300" alt="画像2">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="2025,4.jpg" width="200" height="300" alt="画像3">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="2026,1.jpg" width="200" height="300" alt="画像4">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="2026,2.jpg" width="200" height="300" alt="画像5">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="2026,3.jpg" width="200" height="300" alt="画像6">
            </figure>
          </div>

        </div>

        <div class="swiper-pagination"></div>
      </div>
<div class="radius-wrapper">
  <button class="arrow-btn">▼</button>

  <div class="radius">
    <div class="radius-inner">
      <!-- 4月 -->
      <div class="month">
        <h2>4月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>新入生歓迎会</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>テーマ案の決定</li>
              <li>1年生のチーム割り振り</li>
              <li>プラスミド設計</li>
              <li>東京薬科大学モデルチームとの交流会</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 5月 -->
      <div class="month">
        <h2>5月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>SCイベント案出し</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>遺伝子組み換え講習会</li>
              <li>ピペット講習</li>
              <li>Human practice 強化週間</li>
              <li>遺伝子組み換え申請の作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 6月 -->
      <div class="month">
        <h2>6月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>サイエンスフェス参加</li>
              <li>野田市子供館での実験実習</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>研究活動</li>
              <li>Safety form提出</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 7月 -->
      <div class="month">
        <h2>7月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>Interfex見学</li>
              <li>公民館イベント実施</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>テーマ案出し合い</li>
              <li>非遺伝子組換え実験</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 8月 -->
      <div class="month">
        <h2>8月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>東京未来館イベント</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>テーマ案決め</li>
              <li>各班研究活動</li>
              <li>Meetup参加</li>
              <li>安全講習参加</li>
              <li>共同イベント</li>
              <li>プロモーションビデオ作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 9月 -->
      <div class="month">
        <h2>9月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>小学校での理科授業</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>研究活動</li>
              <li>Wiki作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 10月 -->
      <div class="month">
        <h2>10月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>文化祭準備</li>
              <li>ホームページ作り始め</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>Wiki freeze</li>
              <li>発表練習</li>
              <li>フランス渡航</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 11月 -->
      <div class="month">
        <h2>11月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>文化祭</li>
              <li>↪野田:たこやき</li>
              <li>↪葛飾:フルーツ飴</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>成果発表</li>
              <li>結果報告</li>
              <li>引継ぎ</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 12月 -->
      <div class="month">
        <h2>12月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>冬勧誘準備</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>テーマ案決め</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- 1,2,3月 -->
      <div class="month">
        <h2>1,2,3月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>新入生歓迎会の内容の検討</li>
              <li>合宿&実験</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>iGEM参加費の入金</li>
              <li>wet,dry班文献探し</li>
              <li>研究室訪問</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      <ul>
        <li>2024年度</li>
      </ul>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure>
              <img src="2024,1.jpg" width="200" height="300" alt="画像1">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="2024,3.jpg" width="200" height="300" alt="画像2">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="2024,4.jpg" width="200" height="300" alt="画像3">
            </figure>
          </div>

        </div>

        <div class="swiper-pagination"></div>
      </div>
<div class="radius-wrapper">
  <button class="arrow-btn">▼</button>

  <div class="radius">
    <div class="radius-inner">

      <!-- 4月 -->
      <div class="month">
        <h2>4月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>新入生歓迎会</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>テーマ案の決定</li>
              <li>1年生のチーム割り振り</li>
              <li>プラスミド設計</li>
              <li>東京薬科大学モデルチームとの交流会</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 5月 -->
      <div class="month">
        <h2>5月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>SCイベント案出し</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>遺伝子組み換え講習会</li>
              <li>ピペット講習</li>
              <li>Human practice 強化週間</li>
              <li>遺伝子組み換え申請の作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 6月 -->
      <div class="month">
        <h2>6月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>サイエンスフェス参加</li>
              <li>野田市子供館での実験実習</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>研究活動</li>
              <li>Safety form提出</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 7月 -->
      <div class="month">
        <h2>7月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>Interfex見学</li>
              <li>公民館イベント実施</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>研究活動</li>
              <li>非遺伝子組換え実験</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 8月 -->
      <div class="month">
        <h2>8月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>東京未来館イベント</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>遺伝子組換え実験開始</li>
              <li>各班研究活動</li>
              <li>Meetup参加</li>
              <li>安全講習参加</li>
              <li>共同イベント</li>
              <li>プロモーションビデオ作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 9月 -->
      <div class="month">
        <h2>9月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>小学校での理科授業</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>研究活動</li>
              <li>Wiki・動画作成</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 10月 -->
      <div class="month">
        <h2>10月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>文化祭準備</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>Wiki freeze</li>
              <li>発表練習</li>
              <li>フランス渡航</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 11月 -->
      <div class="month">
        <h2>11月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>文化祭</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>成果発表</li>
              <li>結果報告</li>
              <li>引継ぎ</li>
            </ul>
          </div>
        </div>
      </div>

      <!-- 12月 -->
      <div class="month">
        <h2>12月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>冬勧誘準備</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>テーマ案決め</li>
            </ul>
          </div>
        </div>
      </div>
            <!-- 1,2,3月 -->
      <div class="month">
        <h2>1,2,3月</h2>
        <div class="category-wrapper">
          <div class="category">
            <h3>部活関連</h3>
            <ul>
              <li>新入生歓迎会の内容の検討</li>
              <li>みらい研究室への参加</li>
            </ul>
          </div>
          <div class="category">
            <h3>iGEM関連</h3>
            <ul>
              <li>iGEMの参加決め</li>
              <li>チームの役割分担</li>
              <li>テーマ案決め</li>
              <li>iGEM Japan Meetup への参加</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



    <footer>
    <div class="footer-container">
      <p>&copy; 2025 TUSbotchanlab.website.</p>
      <nav>
        <ul>
          <li><a href="/lukiahome" id="hidari">ホーム</a></li>
          <li><a href="/Yu_activity "id="hidari">活動内容</a></li>
          <li><a href="/memberintroduction" id="hidari">メンバー</a></li>
          <li><a href="/lukiaGovernance" id="hidari">組織</a></li>
          <li><a href="inquiry" id="hidari">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
  </footer>  
  <!-- 以下説明欄のjs -->
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const wrappers = document.querySelectorAll(".radius-wrapper");

    wrappers.forEach((wrapper) => {
      const btn = wrapper.querySelector(".arrow-btn");
      const box = wrapper.querySelector(".radius");

      btn.addEventListener("click", () => {
        const isOpen = box.classList.contains("open");

        if (isOpen) {
          box.style.height = box.scrollHeight + "px";
          requestAnimationFrame(() => {
            box.style.height = "0px";
          });
          box.classList.remove("open");
        } else {
          box.style.height = box.scrollHeight + "px";
          box.classList.add("open");
        }

        btn.classList.toggle("active");
      });
    });
  });
</script>

  <!-- 以下ハンバーガーのjs -->
<script is:inline>
  document.addEventListener("DOMContentLoaded", () => {
    const btn = document.getElementById("menuBtn");
    const menu = document.getElementById("menu");

    if (!btn || !menu) return;

    btn.addEventListener("click", () => {
      btn.classList.toggle("active");
      menu.classList.toggle("open");
    });
  });
</script>
  <!-- 以下絵のスライドのjs -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>
<script defer>
  
  window.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper('.swiper', {
      loop: true,
      effect: 'fade',
      speed: 2000,
      autoplay: { delay: 3000 },
      pagination: { el: '.swiper-pagination', clickable: true },
    });
  });

  const toTop = document.getElementById("toTop");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      toTop.classList.add("show");
    } else {
      toTop.classList.remove("show");
    }
  });
</script>


</body>
</html>