<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>東京理科大学,坊ちゃんサークル</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css">
<link rel="stylesheet" href="/src/layouts/Yu_activity.css">

</script>
</head>
<body>
    <!--ヘッダー-->
    <header> 
        <div class="logo">坊ちゃんサークル</div>
        <nav>
          <a href="/lukiahome" id="migi">HOME</a>
          <a href="/Yu_activity" id="migi">活動内容</a>
          <a href="/memeberintroduction" id="migi">メンバー</a>
          <a href="/lukiaguide" id="migi">組織</a>
          <a href="#" id="migi">お問い合わせ</a>
       </nav>
       <div class="inner">
        <a href="/" class="logo">LOGO</a>
        <button class="hamburger" id="hamburger" aria-label="メニューを開く">
          <span></span>
          <span></span>
          <span></span>
        </button>

        <nav class="nav" id="nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <h1>活動内容</h1>
      <ul>
        <li>2026年度</li>
      </ul>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
  
              <img src="activities.jpg" width="200" height="300" alt="画像1">

          </div>
          <div class="swiper-slide">

              <img src="contact.jpg" width="200" height="300" alt="画像2">

          </div>
          <div class="swiper-slide">

              <img src="governance.jpg" width="200" height="300" alt="画像3">

          </div>

        </div>

        <div class="swiper-pagination"></div>
      </div>
      <div class="radius">
        <p>
          ここになんか書く<br>
          ex)行事,実験<br>
        </p>
      </div>
      <ul>
        <li>2025年度</li>
      </ul>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure>
              <img src="activities.jpg" width="200" height="300" alt="画像1">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="contact.jpg" width="200" height="300" alt="画像2">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="governance.jpg" width="200" height="300" alt="画像3">
            </figure>
          </div>

        </div>

        <div class="swiper-pagination"></div>
      </div>
      <div class="radius">
        <p>
          4月:新入生歓迎会<br>
          5月:実験<br>
          8~9月:来年度のigemテール決め<br>
          2月:合宿<br>
        </p>
        </div>
      <ul>
        <li>2024年度</li>
      </ul>
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <figure>
              <img src="activities.jpg" width="200" height="300" alt="画像1">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="contact.jpg" width="200" height="300" alt="画像2">
            </figure>
          </div>
          <div class="swiper-slide">
            <figure>
              <img src="governance.jpg" width="200" height="300" alt="画像3">
            </figure>
          </div>

        </div>

        <div class="swiper-pagination"></div>
      </div>
      <div class="radius">
        <p>
          1,2,3月
【部活関連】
新入生歓迎会の内容の検討
みらい研究室への参加
【iGEM関連】
iGEMの参加決め
チームの役割分担
テーマ案決め
iGEM Japan Meetup への参加

4月
【部活関連】
新入生歓迎会
【iGEM関連】
テーマ案の決定
1年生のチーム割り振り
プラスミド設計
東京薬科大学のモデルチームとの交流会

５月
【部活関連】
SCイベント案出し
【iGEM関連】
遺伝子組み換え講習会
ピペット講習
Human practice 強化週間(専門家に意見を聞く)
遺伝子組み換え申請の作成

6月
【部活関連】
朝日新聞が主催するサイエンスフェスに参加
野田市子供館での実験実習
【iGEM関連】
プロトコル作成、モデルの検討などの研究活動
Safety form（安全基準や倫理規定を守っているかの書類）をiGEM側に提出

７月
【部活関連】
Interfexの見学
公民館でのイベント実施
【iGEM関連】
プロトコル作成、モデルの検討などの研究活動
遺伝子組換えをふくまない実験の実施

８月
【部活関連】
東京未来館、公民館でのイベント実施
【iGEM関連】
遺伝子組換え実験の開始
各班の研究活動
iGEM Japan Meetupへの参加（日本チームで進捗を共有する会）
バイオリスクマネージメントの参加（国立感染症研究所がiGEMerのために開催してくれる安全講習）
サイエンスコネクトへの参加（日本チームで共同主催したイベント）
プロモーションビデオの作成（3分ぐらいの簡単にプロジェクトを紹介するビデオ）

９月
【部活関連】
西深井小学校での理科の授業を実施
【iGEM関連】
各班の研究活動
Wiki, presentation videoの作成（実験の成果をまとめたウェブサイトや動画）

10月
【部活関連】
文化祭の用意
【iGEM関連】
Wiki freeze(ウェブサイトが編集できなくなる)
質疑応答、発表練習
iGEM grand jamboreeに参加するためフランスへ渡航（1週間程度）

11月
【部活関連】
文化祭
【iGEM関連】
成果発表
夢工房での結果報告
引継ぎ

12月
【部活関連】
冬勧誘の用意と実験
【iGEM関連】
テーマ案決め
>
        </p>
      </div>
    <footer>
    <div class="footer-container">
      <p>&copy; 2025 TUSbotchanlab.website.</p>
      <nav>
        <ul>
           <li><a href="/lukiahome">ホーム</a></li>
          <li><a href="/Yu activity">活動内容</a></li>
          <li><a href="/aaa">メンバー</a></li>
          <li><a href="/lukiaGovernance">組織</a></li>
           <li><a href="">お問い合わせ</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  <!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

<!-- JS -->
<script defer>
  window.addEventListener("DOMContentLoaded", () => {
    const swiper = new Swiper('.swiper', {
      loop: true,
      effect: 'fade',
      speed: 2000,
      autoplay: { delay: 3000 },
      pagination: { el: '.swiper-pagination', clickable: true },
    });
  });

  const toTop = document.getElementById("toTop");

  window.addEventListener("scroll", () => {
    if (window.scrollY > 300) {
      toTop.classList.add("show");
    } else {
      toTop.classList.remove("show");
    }
  });
</script>
</body>
</html>