<h1>活動内容</h1>

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/activities.jpg" /></div>
    <div class="swiper-slide"><img src="/contact.jpg" /></div>
    <div class="swiper-slide"><img src="/governance.jpg" /></div>
    <div class="swiper-slide"><img src="/kim_rogo.png" /></div>
  </div>
</div>

<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="/activities.jpg" /></div>
    <div class="swiper-slide"><img src="/contact.jpg" /></div>
    <div class="swiper-slide"><img src="/governance.jpg" /></div>
    <div class="swiper-slide"><img src="/kim_rogo.png" /></div>
  </div>
</div>

<script type="module">
  import Swiper from 'swiper';
  import 'swiper/css';

  document.querySelectorAll('.swiper').forEach(el => {
    new Swiper(el, {
      l
    })})