@charset "utf-8";

.swiper {
  width: 100%;
  height: 400px;   /* ← 必須 */
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-wrapper {
  display: flex;
}

